#footer {
    background: #ffeff6;
}

/* Style the button that is used to open and close the collapsible content */
.accordion {
  background-color: transparent;
  /* color: #444; */
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border-width: 0 0 .1rem 0;
  outline: none;
  transition: 0.4s;
  border-radius: 0 !important;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  color: #E2508A;
}

.l-head {
    font-size: 1.75rem;
    font-family: "Playfair Display";
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  /* padding: 0 18px; */
padding-top: 2%; 
  display: none;
  overflow: hidden;
}

.collapsible {
    background-color: transparent;
    /* color: #444; */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-bottom: solid;
    text-align: left;
    outline: none;
    font-family: "Playfair Display";
    font-size: 2rem;
    margin-top: 5%;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .collapsible:hover {
    background-color: #ccc;
  }

  .activity {
    font-size: 1.75rem;
    font-family: "Playfair Display";
    /* text-align: center; */

  }
  
  .activity-img {
    width: 70%;
   filter: drop-shadow(-8px 8px 8px #826868);
  }
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding-top: 5%;;
    display: none;
    overflow: hidden;
    /* background-color: #f1f1f1; */
  }


.highlight {
    font-family: 'Outfit';
    font-size: 1.5rem; 
    color: #E2508A !important;

}

.about-me {
    padding-left: 10%;
}

.about-header {
    padding-bottom: 5%;
    font-family: 'Playfair Display';
}

.about-sm-header {
    font-size: 2.25rem;
    font-weight: 500;
    padding-left: 18px;
    font-family: 'Playfair Display';
    padding-top:5%;
}

.about-blurb {
    font-family: 'Outfit';
    font-size: 2rem;
    color: #433C4A;
    font-weight: 200;
    text-align: center;
    /* font-style: italic; */
    padding-top: 5%;
}

.heart-row {
    margin-top: 10%;
}

.more-about-me {
	color: #433C4A;
	font-family: 'Playfair Display';
	text-align: left;
	font-size: 2.5rem;
	padding-bottom: 5%;
   padding-right:10%;
    padding-top: 5%;
    /* padding-left: 5%; */
}


.more-about-me span:hover{
	color:#7C294C !important; 
	cursor: pointer;
}

.pink-heart {
    /* padding-left; */
}

#empty-heart {
    width: 75%;
    height: auto;
}


h4 {
    font-size: 3em;
}

.playlist {
    padding-bottom: 8%;
    /* padding-top: 5%; */
}

.playlist-intro {
    padding-top: 8%;
}

@media (max-width: 1028px) {
    h4 {
        text-align: center;
        font-size: 3rem;
    }
   
}