.cki-images img{
	width: 100%;
	height: auto;
	padding-top: 2%;

}

.cki-final-gif {
    border-radius:3.75rem;
    width:25%;
    vertical-align:top;
    margin-top:3%;

}
.cki-final-gif img{
	
	width:20%;
	height: auto;
	padding-top: 2%;
}

.cki-border {
	border: 0.3rem solid #753258;
    border-radius:.625rem;
    background:#f4dbd9;
    margin-bottom: 2%;
}

.cki-error {
	text-align:center;
	margin-left:2%;
	margin-right:2%;
    margin-bottom: 4%;
	color: #753258;
}

.mobile-old {
	width: 100%;
	height: auto; 
	margin-bottom: 10%
}
.cki-gif{
	width: 100%;
	height: auto; 
}

#about-demo{
    width: 50%;
	height: auto;
	padding-top: 2%;
    margin-left: 11%;
}

.mobile-about{
    margin-top:5%;
}

#about-final{
    margin-left: 15%;
    margin-right:15%;
    margin-bottom: 5%;
    margin-top: 5%;
}

#about-final img{
    width: 100%;
}


.right-feature {
    display: flex;
    flex-direction: row;
	color: #433C4A;
    background-color:#faeef4 !important;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


@media (max-width: 1028px) {
    .feature-col {
        margin-left: 0%;
    }    
    .left-gif, .right-gif, .log-img, .gas-img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    

    .feature-des-left, .feature-des-right {
        padding-top: 4rem;
        float: none;
        display: block;
        padding:0%;
        margin-left: 15%;
        margin-right: 15%;
    }

}
