#evolveMap {
    padding-bottom: 1rem;
    width:80%;
}

.evolve-img {
    width:100%;
 
}

.small-header {
    color: #7C294C;
    font-size: 1rem;
    text-align:center
}

.storyboard img{
	width: 100%;
	height: 95%;
	top: 50%;
  	left: 50%;
}

.persona img{
	
	width: 75%;
	height: 75%;
	top: 50%;
  	left: 50%;
	padding: 2%;
}

#error {
    font-family:'Raleway';
    font-weight: 600;
    font-size: 2rem;
    color:#7C294C !important;

}

.error-list{
    border: 0.5rem solid #7C294C;
    border-radius:2.5rem;
    background:#f6d2ce;
    overflow:hidden;
    margin-bottom: 5%;
}

.left-feature{
    display: flex;
    flex-direction: row;
	color: #4D4646;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* background-color: #f6d2ce; */
  
   
}

.feature-col {
    margin-left: 20%;
}

.right-feature {
    display: flex;
    flex-direction: row;
	color: #4D4646;
    background-color:#FAE5EF;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.feature-des-left {
    float: left;
    padding-right: 30%;
    padding-top: 8%;
}

.feature-des-right {
    float: left;
    /* padding-left: 20%; */
    padding-right: 30%;
    padding-top: 8%;
}

.left-gif {

    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 25%; 
    margin-left:12%;
	border-radius:2.5rem;
	height:31.25rem;
	width: auto;
}

.right-gif {
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 25%; 
    margin-left:12%;
	border-radius:2.5rem;
	height:31.25rem;
	width: auto;
}


.gas-img, .log-img{

    margin-left:10%;
    margin-right:10%;
    float: right;
    margin-bottom: 5%;
    margin-top: 5%;
    height:31.25rem;
    width: auto;
    
}

.left-feature-info{
    float: right;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 15%;
}

.right-feature-info{
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 15%;
}
    
.feature-head {
    font-family:'Playfair Display';
    font-size: 2.25rem;
    text-align:center;
   
}

.feature-des{
   font-family: 'Raleway';
   color:#4D4646;
   font-size:1.25rem;
   padding-bottom: 5%;
   text-align:left;
}
.custom-indent {
    text-indent: -1.25rem; /* key property */
    margin-left: 1.25rem; /* key property */   
}
.big-indent {
    text-indent: -2.25rem; /* key property */
    margin-left: 2.25rem; /* key property */   
}

.image-space {
    padding-bottom:5%;
}

#proto-link{
    color:#b20a50 !important;
}

@media (max-width: 1028px) {
    .feature-col {
        margin-left: 0%;
    }    
    .left-gif, .right-gif, .log-img, .gas-img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    

    .feature-des-left, .feature-des-right {
        padding-top: 4rem;
        float: none;
        display: block;
        padding:0%;
        margin-left: 15%;
        margin-right: 15%;
    }

   

}

