.project-des {
    background: linear-gradient(90deg, rgb(246, 251, 246) 0%, rgb(197, 234, 203) 100%);
}
  .progress-bar {
      background:#9bdfa6 ;
  }
  .callout {
      background: #ecf3ed;
  }
  .findings {
      border-left:  .25rem solid  #C5EACB;
  }
  
  #footer {
    background-color: #eff4f0;
  }
  .subsection {
      color:  #433C4A;
  }
  
  .right-feature {
    background:  #dfe7e0
  }
  .highlight-purple {
      border-radius: 1em 0 1em 0;
      background: linear-gradient(75deg, rgb(247, 249, 248) 0%, rgb(197, 234, 203) 100%);
    }
  