
.nav-link {
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 1.5rem; 
    color: #433C4A !important;
}

.navbar-item a.nav-link:hover { 
    color: #E2508A !important;
}

.navbar-light .navbar-toggler {
    color:#433C4A !important;
    border-color: #433C4A !important;
}

.project-body {
    margin-left: 20%;
    margin-right: 20%;
}

@media (max-width: 1280px)  {
    .project-body {
        margin-left: 12%;
        margin-right: 12%;
    }
}

