/* use for each of the UI/UX project subpages */

h1 {
	/* title of the page */
	font-family: 'Playfair Display';
	color: #31292c;
	font-size: 4rem; 
	text-align: center;
	margin-top: 5rem; 
	font-weight: 700;
	margin-bottom:7%;
	line-height:4rem;
}

h3 {
	/* section titles */
	font-family: 'Playfair Display';
	color: #31292c;
	font-size: 2.25rem; 
	font-weight: 500;
	margin: 0;
	line-height: 4rem;
	padding-top: 2%;
	padding-bottom: 1%;
}

ol {
	list-style-position: inside; 
	padding: 0; 
}
/* .gradient-bg{
	background-image: linear-gradient(to right top, #f08ab5, #e58ec9, #d594db, #bf9bea, #a4a3f6, #9aa5f9, #90a8fc, #84aafe, #8ea7fd, #97a4fc, #a1a1fa, #aa9ef7);
} */

.drop-shadow {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.v-center {
	display: flex;
	align-items: center;
 }
 

.parent {
	display: flex;
	  margin-right: auto;
    margin-left: auto;
	justify-content: center;
	
}
/* Style the header: fixed position (always stay at the top) */
.progress-bar {
    height: .5rem;
    width: 0%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.subsection {
	/* subsections */
	font-family: 'Playfair Display';
	font-size: 1.75rem; 
	font-weight: 500;
	line-height:4rem;
	padding-top: 2%;
	
}

.sm-pad {
	padding-bottom: 5%;
}

.reg-image {
	padding-top: 2%;
	padding-bottom: 5%;
}

.cap-image {
	padding-top: 2%;
	/* padding-bottom: 2%; */
}

.sm-image {
	padding-top: 2%;
	padding-bottom: 5%;
	width: 80%;
	height: auto;
}

.small-italics {
	font-size: 2rem;
}

.big-image{
	display: flex; 
	flex-direction: column;
	justify-content: center;
}

.big-image img{
	align-self: center;
	width: 80%; 
}
.columns {
	margin-bottom:1%;
	padding-left:10%;
	
}
.column {
	float: left;
	width: 50%;
	padding-top: 2%;
	padding-bottom: 5%;
  }

  .col{
	float:left;
	width: 33.33%;
	padding-top: 2%;
	padding-bottom: 5%;
  }
  
  /* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
  }
.img-des {
	color: #575252;
	font-family: "Outfit";
	font-size: 1rem; 
	position: relative;
	padding-bottom: 4%;
	padding-top:2%;
	line-height: 1.5rem;
}
.project-des {
	/* border: 0.3rem solid #E2508A; */
	border-radius: .75rem;
	/* background: rgb(249, 204, 211); */
	margin-top:5%;
	margin-bottom: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.des-header{
	font-size:1.5rem;
	font-weight: 500;
	font-family: 'Playfair Display';
	padding-right: 2%;
	/* text-decoration:underline;
	text-decoration-color: #E2508A; */
	
}

.wide-box {
	margin-left: 5%;
	margin-right: 5%;
}

.table-des {
	font-family: 'Outfit';
	font-size: 1.25rem;
	margin-left: 20%;
	margin-left: 20%;
	margin-right: 20%;
}

.team-info{
	font-size: 1.25rem;
	font-style:italic;
	color: #575252;
	
}


/* #center {  
	text-align: center;
}  */

.sketch img {
	width:49.5%;
	height:auto;

}

.final-images img{
	width: 80%;
	height: auto;
	padding-top: 2%;
	margin-left: 11%;
	margin-right:11%;
}

.callout {
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 2.5rem;
	font-family: "Playfair Display";

}

.findings {
	outline-offset: 0.5rem;
	margin-bottom: 3%;
	margin-top: 2%;
	
}
.list-insight {
	padding-bottom:3%;
	padding-left:3%;
	padding-right: 3%;
	font-size: 1.75rem;
	font-family: 'Outfit';
	color: #433C4A;
	font-weight:300;
}

.list-reg {
	font-family: Outfit;
	font-size: 1.25rem;
	font-weight: 300;
	padding-bottom: 2%;
}

.insight {
	padding-top:3%;
	padding-bottom:2%;
	padding-right: 3%;
	font-size: 1.75rem;
	font-family: 'Outfit';
	color: #31292c;
	font-weight:300;
}
.insight-des {
	padding-top: 2%;
}


.intro-problem {
	font-size: 1.5rem;
	color:#31292c;
	font-weight: 300;
	padding-top: 2%;
	margin-bottom: 3%;
	font-family: 'Outfit';
}

#problem-statement {
	padding-bottom:5%;
	padding-left:3%;
	padding-right: 3%;
	padding-top: 3%;
	font-size: 3.5vmin;
	font-family: 'Outfit';
	color: #31292c;
	font-weight: 400;
	line-height: 1.5;
	
} 
.middle {
	text-align: center;
}

#first {
	padding-top:3%;
}
#solution {
	font-family: 'Playfair Display';
	font-weight:100;
	font-size: 1.875rem;
	color: #31292c;
}
.bold {
	font-weight: 500;
	font-family: Outfit;
}


.inline-block {
	display: inline-block;
 }

 .thank-you {
	font-family: 'Outfit';
	size: 1rem;
	color: #31292c;
	margin-bottom:4rem;
	margin-top: 3rem;
	opacity: 75%;
 }


.left-feature-info{
    float: right;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 15%;
}

.right-feature-info{
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 15%;
}
    
.feature-head {
    font-family:'Outfit';
    font-size: 2.25rem;
    text-align:center;
   
}

.feature-des{
   font-family: 'Outfit';
   color:#31292c;
   font-size:1.25rem;
   font-weight: 300;
   padding-bottom: 5%;
   text-align:left;
}
.custom-indent {
    text-indent: -1.25rem; /* key property */
    margin-left: 1.25rem; /* key property */   
}

.left-feature{
    display: flex;
    flex-direction: row;
	color: #31292c;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* background-color: #f6d2ce; */
  
   
}

.feature-col {
    margin-left: 20%;
}

.right-feature {
    display: flex;
    flex-direction: row;
	color: #31292c;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.feature-des-left {
    float: left;
    padding-right: 30%;
    padding-top: 8%;
}

.feature-des-right {
    float: left;
    /* padding-left: 20%; */
    padding-right: 30%;
    padding-top: 8%;
}

.gif {
	border-radius:3.5rem;
}

.left-gif {

    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 25%; 
    margin-left:12%;
	border-radius:2.5rem;
	height:31.25rem;
	width: auto;
}

.right-gif {
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 25%; 
    margin-left:12%;
	border-radius:2.5rem;
	height:31.25rem;
	width: auto;
}

.pcol {
	border:#31292c;
	border-style: solid;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: .75rem;
}
 
 @media (max-width: 1028px) {
    .feature-col {
        margin-left: 0%;
    }    
    .left-gif, .right-gif, .log-img, .gas-img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

	.callout {
		font-size: 1.5rem;
	}
    

    .feature-des-left, .feature-des-right {
        padding-top: 4rem;
        float: none;
        display: block;
        padding:0%;
        margin-left: 15%;
        margin-right: 15%;
    }

}

