.navbar {
    padding-bottom: 4.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.navbar-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Raleway';
    color:  #FFF5F4 !important;   
}

#navbarLogo {
    width: 6rem;
    height:auto;
}

.splash {
    /* height: 53.125rem;
	color: white; */
	/* flex-direction: column;  */
	/* background-color: #FFF5F4; */
	/* padding-left: 5%; 
	padding-right: 10%;  */
	/* background-size: 112.5rem, 56.25rem; */
    background-image:url('images/bg.jpg') !important;
    background-size: 100vh;
}

.bg-image {
    background-image: url('images/Logo.png');
    height: 100vh;
}